<div class="section-about">
    <h2>¿Porqué elegirnos?</h2>
    <div class="box-cards-info">
        <div class="card-info">
            <div class="info-img">
                <i class="fas fa-lock"></i>
            </div>
            <div class="info-text">
                <h3>Seguridad</h3>
                <p>Brindamos seguridad a nuestros clientes desde la compra hasta que llega a su casa</p>
            </div>
        </div>
        <div class="card-info">
            <div class="info-img">
                <i class="fas fa-handshake"></i>
            </div>
            <div class="info-text">
                <h3>Confianza</h3>
                <p>Somos la mejor app para realizar compras de Artesanias del mercado</p>
            </div>
        </div>
        <div class="card-info">
            <div class="info-img">
                <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="info-text">
                <h3>A tiempo</h3>
                <p>Siempre tendras la plena seguridad de que recibiras tus productos a tiempo</p>
            </div>
        </div>
    </div>
</div>