<div class="section-informativo">
    <div class="box-img-informativo">
        <img src="./images/app/informativo.webp" alt="">
    </div>
    <div class="box-texto-informativo">
        <h3>Apoya Nuestros Artesanos</h3>
        <p>Con tu compra ayudas a que miles de artesanos puedan ganar sus recursos y mantener a sus familiares ya que muchos de nuestros proveedores son artesanos de muy bajos recursos que solo trabajan para no perder las tradiciones de sus pueblos o de su raza, apoya el arte cultrual Colombiano, Compra colombiano</p>
    </div>
</div>

<div class="section-informativo">
    <div class="box-texto-informativo">
        <h3>Artesanias de Talla Internacional</h3>
        <p>Nuestras Artesanias Colombianas son elaboradas con grandes materiales los cuales, hacen que cada uno de nuestros productos este a un nivel muy alto para exportación, además ayudamos a crecer la economia de la población indigena en nuestro pais, dandolos a conocer a nivel internacional, esto ayudará a que nuestras artesanias y nuestros artesanos sean más reconocidos y puedan generar muchos más ingresos y de esta manera bajar las estadisticas de pobreza indigena que actualmente existe en nuestro País</p>
    </div>
    <div class="box-img-informativo">
        <img src="./images/app/arte-colombiano.webp" alt="">
    </div>
</div>