<div class="box-menu-perfil">
    <a class="toggle-menu-perfil">
        <i class="fas fa-chevron-down"></i>
    </a>
    <ul>
        <li>
            <a href="/perfil">
               <i class="fas fa-user-cog"></i>
               <span>Perfil</span>
            </a>
        </li>
        <li>
            <a class="perfil-productos">
                <i class="fas fa-shopping-bag"></i>
                <span>Productos</span>
            </a>
        </li>
        <li>
            <a class="perfil-ventas">
                <i class="fas fa-cash-register"></i>
                <span>Ventas</span>
            </a>
        </li>
        <li>
            <a class="perfil-compras">
                <i class="fas fa-money-bill-wave"></i>
                <span>Compras</span>
            </a>
        </li>
    </ul>
</div>