<div class="header">
    <div class="box-logo">
        <h2 class="logo">Artesanias.com</h2>
    </div>
    <a class="toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <div class="nav">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/productos">Productos</a>
            </li>
            <li class="login-a">
                <a href="/login">Login</a>
            </li>
            <li class="perfil-a">
                <a href="/perfil">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="logout-a">
                <a class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
                
        </ul>
    </div>
</div>