<div class="header">
    <div class="box-logo">
        <h2 class="logo">Artesanias.com</h2>
    </div>
    <div class="nav">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
                <li>
                <a href="#">Productos</a>
            </li>
                <li>
                <a href="/login" class="login-toggle">Login</a>
            </li>
                <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</div>