<div class="section-options">
    <h2>¿Que deseas hacer Hoy?</h2>
    <div class="box-options-cards">
        <div class="option-card">
            <div class="option-card-img">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="/productos" class="button bg-azul">Comprar</a>
        </div>
        <div class="option-card">
            <div class="option-card-img">
                <i class="fas fa-money-check-alt"></i>
            </div>
            <a href="/perfil/productos/new" class="button bg-verde">Vender</a>
        </div>
    </div>
</div>